//color

  

$color-gray-dark:#777;
$color-gray-dark-3:#999;
$color-gray-dark-4:#333;

$color-gray-light-1:#f7f7f7;
$color-gray-light-3:#eee;
$color-withe:#fff;
$color-black:#000;

$color-test:#0E386B;
     

//gride

$gride-withd: 114rem;

$gutter-ver: 8rem;
$gutter-ver-small: 6rem;

$gutter-hor: 6rem;


//font

$defult-font-size: 1.6rem;